div.project-display-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
}

div.project-display-header {
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
  gap: 20px;
}

div.project-display-body {
  width: 100%;
}

div.project-display-body>img {
  width: 50%;
  height:auto;
  float:left;
}

ul.project-display-bullet-points {
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-size: 1.2em;
  list-style-type:square;
  list-style-position: inside;
  padding: 0 20px;
}

div.project-display-wrapper a:hover, div.project-display-wrapper a:focus {
  color: var(--clr-accent-dark);
}

div.project-display-header a:active {
  scale: 0.95;
}

div.project-display-wrapper button:hover, div.project-display-wrapper button:focus {
  color: var(--clr-accent-dark);
  cursor: pointer;
}

button.project-display-delete-button {
  border: none;
  padding: 0;
  user-select:auto;
}

@media (max-width: 980px) {

  div.project-display-wrapper {
    width: min(90%, 400px);
  }

  div.project-display-body {
    flex-direction: column;
  }
}